<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block js %}
            <script src="{{ asset('/aggrid/ag-grid-enterprise.min.js')}}"></script>
        {% endblock %}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('/jsuite/jsuites.css')}}">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
